<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm">
  <div class="container px-5">
    <a class="navbar-brand" [routerLink]="['/']">
    </a>
  </div>
</nav>
<header class="master-head">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-3 col-md-3">
        <img src="assets/images/bg_1.png" class="img-fluid">
      </div>
      <div class="col-lg-6 col-md-9">
        <h1 class="text-bold"><span class="highlight">THE BEST</span> ONLINE CASINO</h1>
        <p>
          The best online casino around will prioritise its clients’ security, 
          as well as their wellbeing. Many sites display warnings about the danger of getting addicted to gambling,
          explain possible symptoms and specify ways that those with a gambling problem can find help.
          All players are advised to play responsibly at all times,
          and all regulated casinos should offer tools to ensure their players can gamble safely. 
        </p>
        <div class="d-flex flex-column flex-lg-row align-items-center">
          <div>
            <a href="assets/res/Phbet.mobileconfig" role="button" class="btn btn-outline-light mb-4 me-lg-3"
              download>
              <i class="fab fa-apple"></i>
              IOS Lite
            </a>
          </div>
          <div>
            <a href="assets/res/Phbet.apk" role="button" class="btn btn-outline-light mb-4" download>
              <i class="fab fa-android"></i>
              Android
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <img src="assets/images/bg_2.png" class="img-fluid bg_2">
      </div>
    </div>
  </div>
</header>